.all-habits-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.all-habits-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0px 0px 22px -6px rgba(0, 0, 0, .125);
  padding: 1.25rem;
  border-radius: 1rem;
  transition: 1s;
}

.habits-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1.5rem;
  align-items: center;
}

.habits-header-content {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.habits-header h3 {
  font-size: 1.25rem;
}

.habits-header p {
  font-size: .85rem;
  color: #64737D;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.schedule h5 {
  font-size: 1rem;
}

.schedule ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}

.schedule li {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 4rem;
  background-color: var(--white);
  border: 3px solid var(--black);
}

.schedule .on {
  background-color: var(--black);
}

.schedule li p {
  color: var(--black);
  font-weight: 600;
}

.schedule .on p {
  color: var(--white);
}

.habit-inner-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1.25rem;
  border-top: 2px solid #e2e6e9;
}

.habit-inner-content button {
  background-color: transparent;
  border: 3px solid var(--black);

  padding: .5rem;
  border-radius: 2rem;
  font-weight: 700;

  cursor: pointer;
  transition: .125s
}

.habit-inner-content button:hover {
  background-color: var(--black);
  color: var(--white);
}