main {
  width: 100%;
  max-width: 50rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
  padding: 5rem 3rem 7rem 3rem;
}






/* STYLING FOR THE FORMS */

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form label, form legend {
  font-weight: 700;
  font-size: 1.075rem;
}

form fieldset {
  border: none;
}

form legend {
  padding-bottom: 1rem
}

form .category-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

form .category-list > :nth-child(1),
form .category-list > :nth-child(2) {
  grid-column: span 3;
}

form .category-list> :nth-child(n+3) {
  grid-column: span 2;
}

form .category-list div label{
  display: flex;
  flex-direction: column;
  gap: .125rem;
  align-items: center;
  padding: 1rem;
  border: 2px solid #D8D8D8;
  border-radius: 1rem;
  transition: .5s;
}

form .category-list div:has(input:checked) label {
  border-color: var(--accent-blue);
  background-color: #AEE5FF12;
}

form img {
  aspect-ratio: 1/1;
  width: 3.5rem
}

form .category-list label {
  font-weight: 600;
  font-size: 1.125rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

input[type="radio"] {
  display: none;
}

form .days-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-content: space-between;
  gap: 1rem;
}

form .days-list div {
  width: fit-content;
  border: 2px solid var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  height: 3rem;
  border-radius: 1.5rem;
  color: var(--black)
}

form .days-list div:has( input:checked) {
  background-color: var(--black);
  color: #fff;
}

form .days-list input {
  display: none;
}

.input-collection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}


textarea {
  min-height: 6rem;
}