@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');


:root {
  --black: #202325;
  --bg: #F6F6F6;
  --white: #fff;

  --accent-blue: #0084FF;
  --accent-blue-dark: #006ace;
  --accent-orange: #FF6A20;
  --accent-blue-gradient: linear-gradient(100deg, #3496FF, #2078D6);
  --accent-orange-gradient: linear-gradient(100deg, #FAF0DE, #DEC29F);
}


* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  height: 100%;
  width: 100%;
  background-color: #F6F6F6;
}

body {
  height: 100%;
  width: 100%;
  display: flex;

  position: relative;
}

#root {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 p,
li,
button,
a,
input,
textarea,
span {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--black);
  text-decoration: none;
  outline: none;
}

input, 
textarea,
select {
  background-color: #fff;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, .0775);
  padding: .65rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
}

input:focus ,
textarea:focus,
select:focus {
  outline: 1.5px solid #ccd1d4;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  width: 100%;
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 1rem;
  box-shadow: 0 8px 32px -12px rgba(90, 95, 99, 0.125);
}

.btn {
  padding: .5rem 1rem;
    border-radius: 3rem;
  background-color: var(--accent-blue);
  color: #fff;
  border: 3px solid var(--accent-blue);
    transition: .125s;
    font-size: 1rem;
    font-weight: 700;
}

.btn-light {
  padding: .5rem 1rem;
  border-radius: 3rem;
  border: 3px solid var(--accent-orange);
  background-color: transparent;
  transition: .125s;
  font-size: 1rem;
  font-weight: 700;
  color: var(--accent-orange);
}

.btn-light:hover {
  background-color: var(--accent-orange);
  color: var(--white);
}

.btn-ghost {
  background-color: #fff;
  border: 2px solid var(--accent-blue);
  padding: .75rem;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 800;
  color: var(--accent-blue-dark);
  transition: .125s;
}

.btn-ghost:hover {
  background-color: var(--accent-blue);
  color: var(--white);
}

.full-width {
  width: 100%;
}

/* ICON STYLING */
.icon-red {
  background-color: #ff7268;
}

.icon-blue {
  background-color: #6cb8ff;
}

.icon-purple {
  background-color: #bb7fff;
}

.icon-green {
  background-color: #55e691;
}

.icon-orange {
  background-color: #eba24f;
}