.card-container-routine {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
}

.card-container-routine ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-routine-content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1.5rem;
  align-items: center;
  box-shadow: 0px 0px 22px -6px rgba(0,0,0,.125);
  padding: 1.25rem;
  border-radius: 1rem;
}

.daily-routine-icon {
  max-width: 4.5rem;
  border-radius: .5rem;
  overflow: hidden;
  border-radius: .5rem;
  height: 4.5rem;
}

.progress-bar {
  height: 6px;
  width: 100%;
  display: flex;
  border-radius: 1rem;
  overflow: hidden
}

.progress-bar div:first-child {
  display: block;
  background-color: #40C8D5;
  min-width: .5rem;
  width: 0;
  transition: 1s;
}

.progress-bar div:last-child {
  background-color: #D6DFE7;
  width: 100%;
  height: 100%;
  transition: 1s
}

.side-timer {
  padding-left: 1rem;
  border-left: 1.5px solid #D6DFE7;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .35rem;
}

.routine-content-details {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.routine-content-details-text {
  display: flex;
  flex-direction: column;
  gap: .125rem;
}

.routine-content-details-text h3 {
  font-size: 1.25rem;
}

.routine-content-details-text p {
  font-size:.85rem;
  color: #64737D;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.icon-small {
  aspect-ratio: 1/1;
  height: 1.5rem;
}

.progress-tracker-grouping {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-circle {
  aspect-ratio: 1/1;
  width: 1.25rem;
  border:  2px solid #89959e;
  border-radius: .75rem;
  transition: 1s;
}

.completed-circle {
  border:  6px solid var(--accent-blue);
  transition: 1s;
}

.progress-line {
  border-left: 1.5px dashed #dbdfe2;
  width: 1.5px;
  height: 7.25rem;
}