nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 22px -6px rgba(0,0,0,.125);
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

nav button {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0 auto;
  padding: 0rem 1rem;
  cursor: pointer;
}

.active p {
  color: var(--accent-blue);
  text-align: center;
}

.icon-nav {
  height: 2rem;
  width: 2rem;
  margin: 0 auto;
}