.header-split {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  align-items: center;
}

.header-inner {
  display: flex;
  flex-direction: column;
}

header button {
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 12px -3px rgba(0,0,0,.125);
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: .75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

header button img {
  width: 1.5rem;
  aspect-ratio: 1/1;
}

.form-img {
  padding: 2rem;
  height: 22rem;
  margin: 0 auto;
}

form button {
  width: 100%;
  
}