.card-content-habit {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: end;
  gap: 2rem;
}

.vertical-rule {
  height: 100%;
  border-right: 1.5px solid #D2D7D9;
}

.icon-block {
  width: 4.5rem;
  box-shadow: 0px 0px 12px -2px rgba(0,0,0,.125);
  border-radius: .5rem;
}

.icon-block img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: .5rem .5rem 0 0;
  padding: .75rem;
}

.timer {
  text-align: center;
  font-size: .85rem;
  padding: .125rem .125rem .25rem .125rem;
  border-radius: 0 0 .5rem .5rem;
  background-color: var(--white);
  font-style: italic;
  color: #64737D;
}

.next-habit-content {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.next-habit-content h3 {
  font-size: 1.85rem;
}

.next-habit-content p {
  color: #64737D;
  font-size: .85rem;
}

.next-habit-content p:first-child {
  font-size: 1rem;
  margin-bottom: .25rem;
}

